doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        title 智慧图书馆
        // Mobile Specific Metas
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        // Core stylesheets do not remove
        link#bootstrap(href="css/bootstrap/bootstrap.css", rel="stylesheet", type="text/css")
        link(href="/css/bootstrap/bootstrap-theme.css", rel="stylesheet", type="text/css")
        link(href="/css/supr-theme/jquery.ui.supr.css", rel="stylesheet", type="text/css")
        link(href="/css/icons.css", rel="stylesheet", type="text/css")
        // Plugins stylesheets
        link(href="/plugins/misc/qtip/jquery.qtip.css", rel="stylesheet", type="text/css") 
        link(href="/plugins/misc/fullcalendar/fullcalendar.css", rel="stylesheet", type="text/css")
        link(href="/plugins/misc/search/tipuesearch.css", type="text/css", rel="stylesheet")
        link(href="/plugins/forms/uniform/uniform.default.css", type="text/css", rel="stylesheet")
        // Main stylesheets
        link(href="/css/main.css", rel="stylesheet", type="text/css")
        // Custom stylesheets ( Put your own changes here )
        link(href="/css/custom.css", rel="stylesheet", type="text/css")
        // Load modernizr first
        script(type="text/javascript", src="/js/libs/modernizr.js")
    body
        // loading animation
        #qLoverlay
        #qLbar
        #header
            nav.navbar.navbar-default(role="navigation")
                .navbar-header
                    a.navbar-brand(href="/") 智慧图书馆       
                    button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse")
                        span.sr-only Toggle navigation
                        span.icon16.icomoon-icon-arrow-4
                .collapse.navbar-collapse.navbar-ex1-collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href="/")
                                span.icon16.icomoon-icon-screen-2
                                span.txt  总览
                    ul.nav.navbar-right.usernav
                        li
                            a.dropdown-toggle.avatar(href="#", data-toggle="dropdown")
                                img.image(src="images/avatar.jpg", alt="")
                                span.txt admin@supr.com
                        li
                            a(href="index.html")
                                span.icon16.icomoon-icon-exit
                                span.txt  登出
        #wrapper
            // Responsive navigation button
            .resBtn
                a(href="#")
                    span.icon16.minia-icon-list-3
            // Sidebar background
            #sidebarbg
            // Sidebar content
            #sidebar
                .sidenav
                    .sidebar-widget(style="margin: -1px 0 0 0;")
                        h5.title(style="margin-bottom:0") 管内信息

                    .mainnav
                        ul
                            li
                                a(href="/")
                                    span.icon16.icomoon-icon-list
                                    | 总览
                            li
                                a(href="/environment")
                                    span.icon16.icomoon-icon-stats-up
                                    | 环境监测
                            li
                                a(href="/security")
                                    span.icon16.icomoon-icon-table-2
                                    | 安防监测
                            li
                                a(href="/switch")
                                    span.icon16.icomoon-icon-equalizer-2
                                    | 开关控制
                    .sidebar-widget(style="margin: -1px 0 0 0;")
                        h5.title(style="margin-bottom:0") 图书相关

                    .mainnav
                        ul
                            li
                                a(href="/search")
                                    span.icon16.typ-icon-search
                                    | 书籍查询
                            li
                                a(href="/borrow")
                                    span.icon16.iconic-icon-book-alt
                                    | 借阅查询

                .sidebar-widget
                    h5.title 座位占用
                    .content
                        span.icon16.icomoon-icon-book.left
                        .progress.progress-mini.left.tip(title="#{layout.studyRoomUsedPercent}%")
                            .progress-bar.progress-bar-success(style="width: #{layout.studyRoomUsedPercent}%;")
                        span.percent#studyRoomUsedSpan #{layout.studyRoomUsedPercent}%
                        .stat #{layout.studyRoomUsed} / 3000

                .sidebar-widget
                    h5.title 每日统计
                    .content
                        .rightnow
                            ul.list-unstyled
                                li
                                    span.number #{layout.enterStudentCount}
                                    span.icon16.icomoon-icon-man
                                    | 入馆人数
                                li
                                    span.number #{layout.bookLendCount}
                                    span.icon16.icomoon-icon-books
                                    | 借书总数
                                li
                                    span.number #{layout.selfStudyCount}
                                    span.icon16.icomoon-icon-book
                                    | 自习总数
            
            block content                

            script(type="text/javascript", src="/js/jquery/jquery.min.js")
            script(type="text/javascript", src="/js/jquery-ui/jquery-ui.min.js")
            script(type="text/javascript", src="/js/libs/jquery-migrate.min.js")
            script(type="text/javascript", src="/js/bootstrap/bootstrap.js")
            script(type="text/javascript", src="/js/libs/jquery.mousewheel.js")
            script(type="text/javascript", src="/js/libs/jRespond.min.js")
                
            // Charts plugins
            script(type="text/javascript", src="/plugins/charts/flot/jquery.flot.min.js")
            script(type="text/javascript", src="/plugins/charts/flot/jquery.flot.grow.js")
            script(type="text/javascript", src="/plugins/charts/flot/jquery.flot.pie.js")
            script(type="text/javascript", src="/plugins/charts/flot/jquery.flot.resize.js")
            script(type="text/javascript", src="/plugins/charts/flot/jquery.flot.tooltip_0.4.4.js")
            script(type="text/javascript", src="/plugins/charts/flot/jquery.flot.orderBars.js")
            script(type="text/javascript", src="/plugins/charts/flot/jquery.flot.time.min.js")
            script(type="text/javascript", src="/plugins/charts/sparkline/jquery.sparkline.min.js")
            // Sparkline plugin
            script(type="text/javascript", src="/plugins/charts/knob/jquery.knob.js")
            // Circular sliders and stats
            // Misc plugins
            script(type="text/javascript", src="/plugins/misc/fullcalendar/fullcalendar.min.js")
            // Calendar plugin
            script(type="text/javascript", src="/plugins/misc/qtip/jquery.qtip.min.js")
            // Custom tooltip plugin
            script(type="text/javascript", src="/plugins/misc/totop/jquery.ui.totop.min.js")
            // Back to top plugin
            // Search plugin
            script(type="text/javascript", src="/plugins/misc/search/tipuesearch_set.js")
            script(type="text/javascript", src="/plugins/misc/search/tipuesearch_data.js")
            // JSON for searched results
            script(type="text/javascript", src="/plugins/misc/search/tipuesearch.js")
            // Form plugins
            script(type="text/javascript", src="/plugins/forms/uniform/jquery.uniform.min.js")
            // Init plugins
            script(type="text/javascript", src="/js/main.js")
            // Core js functions
            
            block footer
